@page "/local-storage"

@inject IBlazorLocalStorage BlazorLocalStorage

<div class="row">
    <div class="col-4">
        <button class="btn btn-primary" @onclick="IsLocalStorageAvailable">Check Local Storage Available</button>
    </div>
    <div class="col-4">
        Local Storage Available: @IsAvailable
    </div>
</div>

@code
{
    private bool IsAvailable { get; set; }

    private async Task IsLocalStorageAvailable()
    {
        IsAvailable = await BlazorLocalStorage.IsAvailableAsync();
    }
}
